<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (petsts.length > 0) { %>
                    <div class="grid">
                        <% for (let petsitter of petsts) { %>
                            <article class="card petsitter-item">
                                <header class="card__header">
                                    <h1 class="petsitter__title">
                                        <%= petsitter.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= petsitter.imageUrl %>" alt="<%= petsitter.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="petsitter__price">$
                                        <%= petsitter.price %>
                                    </h2>
                                    <p class="petsitter__description">
                                        <%= petsitter.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/petsitters/<%= petsitter.id %>" class="btn">Details</a>
                                    <%- include('../includes/add-to-cart.ejs', {petsitter: petsitter}) %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Petsitters Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>