<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= petsitter.title %></h1>
            <hr>
            <div class="image">
                <img src="<%= petsitter.imageUrl %>" alt="<%= petsitter.title %>">
            </div>
            <h2><%= petsitter.price %></h2>
            <p><%= petsitter.description %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>